h1{
    font-size:50px;
    text-align: center;
    color:white;
}

.centered{
    text-align: center;
}

.case{
    height : 50px;
    width : 50px;
    background-color : black;
    box-sizing: border-box;
}

#main{
    margin-top: 50px;
}

.divLine{
    display: flex;
    flex-direction:row;
    justify-content: center;
}


